/*Media query*/
@media (max-width: 1450px) {
    .main-container {
        width: 100%;
    }
    .main-container .row {
        margin-right: auto;
        margin-left: auto;
    }
    /*.brand {*/
        /*left: 30px;*/
    /*}*/
    .meeting-responsive {
        height: auto;
        width: 100%;
    }
}
@media (max-width: 1028px) {
    .main-content {
        padding-top: 180px;
    }
    .folder-list-wrapper {
        top: 180px;
    }
    .file-tool {
        top: 180px;
    }
}
@media (min-width: 992px) {
    .glance-buttons{
        text-align: right;
    }
}
@media (max-width: 991px) {
    .quick-buttons{
        display: inline !important;
    }
    .quick-buttons .access-button{
        margin: 10px;
    }
    .welcome-box {
        width: 100%;
    }
    .welcome-box h2{
        margin-top: 20px;
    }
    .walk-me-box-container .box-details {
        width: 25%;
    }
}
@media (max-width: 767px) {
    .welcome-box h2 {
        margin-top: 50px;
    }
    .meeting-wrapper {
        margin-top: 40px;
        border-top: 1px solid #bdd5e9;
    }
    .quick-main {
        padding: 10px;
    }
    .walk-me-box-container .box-details {
        width: 33.3333%;
    }
}
@media (max-width: 568px) {
    .header {
        padding: 10px 0 8px 0;
    }
    .quick-main .access-button {
        margin: 10px 0;
        width: 100%;
    }
    .btn-notification-wrapper, .text-notification-wrapper {
        clear: both;
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .walk-me-box-container .box-details {
        width: 100%;
    }
}