
body, html {
    background-color: #FFFFFF;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 12px;
}
/*bootstrap overwrite*/

.container-fluid {
    padding: 0;
}
a {
    color: #4f6df5;
    font-weight: 600;
    font-size: 14px;
}
a:hover, a:focus {
    text-decoration: none;
    color: #4f6df5;
}
.link-btn {
    color: #4f6df5!important;
    cursor: pointer;
}
/*end*/

.main-container {
    width: 1450px;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    border-bottom: 1px solid #d0d0d0;
    padding: 15px 20px 5px 20px;
    color: #4f6df5;
}
.header-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    /*height: 104px;*/
    background-color: #FFFFFF;
}
.main-content {
    padding-top: 118px;
}
.nav-link{
    color: #272727;
    border-left: 1px solid #d0d0d0;
    padding: 15px !important;
}
.home-link:hover, .nav-link:hover{
    color: #d0d0d0;
}
.home-link{
    width: 35%;
    text-align: right;
    color: #272727;
    text-decoration: none !important;
}
.navbar-toggler {
    background-color: #d0d0d0;
}
.brand {
    position: absolute;
    left: 50px;
    top: 15px;
}
.brand-header {
    position: absolute;
    left: 10px;
    top: 10px;
}
.brand img{
    height: 55px;
    width: auto;
}
.brand-header img{
    height: 40px;
    width: auto;
}
.welcome-box h2{
    color: #242422;
    font-size: 55px;
    font-weight: 300;
}
.welcome-box-margin {
    margin-bottom: 100px;
}
.main-btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}
.main-btn:hover {
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    -moz-transform: translate3d(0, -3px, 0);
}
.form-btn {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
}
.btn-blue{
    background-color: #4f6df5;
    color: #ffffff;
    box-shadow: 4px 8px 10px #c9d2fc;
}
.btn-blue:hover{
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}
.btn-red:hover {
    background-color: #bc2e2f!important;
    border: 1px solid #bc2e2f!important;
    box-shadow: 4px 8px 10px rgba(188,46,47,0.3)!important;
}
.access-button {
    color: #242422;
    border: 1px solid #cbcbcb;
}
.access-button:hover {
    background-color: #4f6df5;
    color: #fff;
    border-color: #4f6df5;
    box-shadow: 4px 8px 10px #c9d2fc;
}
.access-button-red:hover {
    background-color: #bc2e2f;
    border-color: #bc2e2f;
    color: #fff;
    box-shadow: 4px 8px 10px #f1d3d3;
}
.title-text {
    font-size: 36px;
    font-weight: 300!important;
}
.glance-main .access-button{
    min-width: 150px;
}
.suggestion{
    box-shadow: 1px 2px 7px #4f6df5;
}
.glance-main h5{
    font-weight: normal;
}
.text-details {
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 300;
}
.walk-container{
    width: auto;
    height: 240px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    margin: 0 20px 20px 0;
}
.walk-container .my-5{
    max-height: 45px;
}
.walk-bg-main{
    background-color: #f2f4fd;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50px;
}
.walk-me-box-container .box-details {
    width: 20%;
    float: left;
}
.contact-main .btn-blue{
    padding: 12px 25px;
}
.walk-active{
    background-color: #4f6df5;
}
.walk-active .access-button{
    background-color: #718bff;
    border-color: #718bff;
    color: #ffffff;
}
.icon-head{
    /*height: 35px;*/
    height: 20px;
    margin: 9px 0;
}
.quick-head{
    background-color: #f2f4fd;
    padding: 20px 0;
}
.quick-main {
    border: 1px solid #efefef;
    padding: 20px 30px;
    border-radius: 8px;
    background-color: #FFFFFF;
    margin-top: -100px;
}
.glance-sub{
    padding: 20px 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
}
.bg-style{
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
}
.upload-doc{
    background-image: url("../assets/image/upload.png");
}
.sign-doc{
    background-image: url("../assets/image/signpen.png");
}
.get-signed{
     background-image: url("../assets/image/getsign.png");
 }
.send-doc{
     background-image: url("../assets/image/send.png");
 }
.create-temp{
     background-image: url("../assets/image/create-templ.png");
 }
.add-user{
     background-image: url("../assets/image/add.png");
 }
.set-access{
     background-image: url("../assets/image/set-up.png");
 }
.contact{
     background-image: url("../assets/image/contacts.png");
 }
.recent-activity{
     background-image: url("../assets/image/recent-activity.png");
 }
.new-message{
     background-image: url("../assets/image/message.png");
 }

.cmn-margin{
    margin-top: 20px;
}
/** Margin Top Account Common mt-acc-cmn **/
.mt-acc-cmn{
    margin-top: 50px;
}
.walk-container:hover, .walk-active{
    background-color: #4f6df5;
    border-color: #4f6df5;
    color: #ffffff;
}
.walk-container:hover .access-button{
    background-color: #718bff;
    border-color: #718bff;
    color: #ffffff;
    box-shadow: none;
}
.walk-container:hover .walk-bg-main, .walk-active .walk-bg-main{
    background-color: #718bff;
}
.walk-container:hover .walk-bg-main .sample-img{
    background-image: url("../assets/image/sign.png");
}
.manage-acc{
    height: 20px;
}
.logout {
    color: #4f6df5;
    border-color: #4f6df5;
    padding: 3px 20px;
    line-height: 21px;
}
.font-blue-light-14 {
    color: #4f6df5;
    font-weight: 200;
    font-size: 14px;
}
.font-blue-light-12 {
    color: #4f6df5;
    font-weight: 200;
    font-size: 12px;
}
.time-container {
    width: 220px;
    vertical-align: bottom;
    line-height: 15px;
    margin-bottom: 5px;
}
.welcome-box {
    width: 500px;
    margin:auto;
}
.text-20-light {
    font-size: 20px;
    font-weight: 300;
}
.btn-notification-wrapper {
    float: right;
}
.text-notification-wrapper {
    float: left;
    margin-top: 10px;
}
.menu-wrapper {
    display: inline-block;
    margin-left: 10px;
}
.circle{
    height: 38px;
    width: 38px;
    background-color: #f3fafe;
    border-radius: 50%;
    display: block;

}
.menu-text {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ffffff url(../assets/image/search.png) no-repeat 0px center;
    border: 1px solid #dedede;
    border-top: none;
    padding: 5px 20px 5px 50px;
    margin-right: 10px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    border-radius: 3px 0 0 3px;
    width: 110px;
}

input[type=search]:focus {
    background: #ffffff url(../assets/image/search.png) no-repeat 0px center;
    width: 200px;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.search-button{
    float: right;
}
.search-box {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.folder-list-wrapper {
    position: fixed;
    border-right: 1px solid #e0e0e0;
    width: 300px;
    top: 120px;
    bottom: 0;max-height: 100%;
overflow: auto;
}
.file-tool {
    position: fixed;
    border-left: 1px solid #e0e0e0;
    width: 220px;
    top: 105px;
    right: 0;
    bottom: 0;
    background-color: #f7f9fb;
}
.file-content {
    margin: 0 220px 0 300px;
    background: #fff;
    padding: 15px;
    /*min-height: 650px;*/
}
.position-relative {
    position: relative;
}
.file-title-text {
    padding: 15px 10px;
    font-size: 18px;
}
.file-menu-list {
    margin: 125px 0 0 0;
    padding: 0px 10px;
    list-style: none;
}
.file-tool-list {
    padding: 20px;
    list-style: none;
}
.file-menu-list li a {
    padding: 5px 0;
    display: block;
}
/*.file-menu-list li a:hover {
    color: #0287d2;
    font-weight: normal;
}
.file-menu-list li a.active {
    color: #0287d2;
    font-weight: 600!important;
}*/
.file-tool-list li a {
    padding: 5px 0;
    display: block;
}
.header-my-files {
    /*top: 50px;
    z-index: 1;*/
}
.breadcrumb-wrapper {
    background: transparent;
    position: fixed;
    top: 60px;
}
.breadcrumb {
    background: transparent;
    margin-bottom: 0;
}
.mr-5 {
    margin-right: 5px;
}
.breadcrumb>li {
    font-size: 16px;
}
.file-container {
    margin-top: 50px;
}
.empty-folder {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.folder-container {
    padding: 0 10px;
}
.folder-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.folder-container ul li{
    float: left;
    margin: 0 10px 10px 0;
}
.folder {
    font-size: 38px;
    color: #4f6df5;
    line-height: 24px;
    text-align: center;
}
.folder-text {
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    width: 80px;
    text-align: center;
    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}/*
.folder-container ul li {
    margin-bottom: 10px;
}*/
.empty-directory {
    background-color: #f3fafe;
    border: 1px solid #d0d0d0;
    padding: 10px;
    font-weight: 600;
}
.folder-navigation {
    font-size: 18px;
    margin: 30px 10px 20px 5px;
}
.folder-box {
    padding: 5px 0;
    border: 1px solid #ffffff;
    cursor: pointer;
}
.folder-box:hover {
    background-color: #f7f9fb;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
}
.folder-delete {
    font-size: 30px;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    background: #eee;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ffffff;
}
.folder-edit {
    display: none;
    font-size: 15px;
    position: absolute;
    top: -8px;
    right: -8px;
    z-index: 1;
    background: #f3fafe;
    border-radius: 50%;
    padding: 0px 5px;
    border: 1px solid #e0e0e0;
    opacity: 1.5;
    color: #4f6df5;
}
.delete-folder .folder-delete,.folder-box:hover .folder-edit{
    display: block;
}
.icon-delete {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -12px;
}

.drag-text {
    color: #828282;
    font-size: 14px;
}
.drag-drop-box {
    background-color: #f3fafe;
    border: 1px dashed #d0d0d0;
    padding: 0 0 20px 0;
    margin-top: 20px;
}


/*Notification css*/

.notification-title {
    font-size: 16px;
    letter-spacing: 1px;
}
.notification-content ul {
    padding-left: 20px;
}
.notification-content {
    font-size: 14px;
    letter-spacing: 1px
}
.notifications {
    top: 20px !important;
    right: 15px !important;
}
.color-red {
    color: #FF0000!important;
}

.documents-container ul{list-style: none;margin: 0;
padding-left: 30px;}
.documents-container ul li{display: inline-block;width:95%;min-height: 25px;cursor: pointer;}
.documents-container ul li a .file{margin-right: 5px}
.document-delete{display: none;color: red;cursor: pointer;font-size: 15px}
.documents-container ul li:hover .document-delete{display: block}
.file-container .dropzone{/*padding: 0;border: none;*/background-color: #f3fafe;
    border: 1px dashed #d0d0d0;
    padding: 0 0 20px 0;
    margin-top: 20px;}
.file-container .dropzone .dz-message{margin: 0;border: none;}
.backBtn{margin-bottom: 10px;}
iframe{border: 0}
canvas{position:absolute;cursor: crosshair;}
.SignatureModal {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0,0%,100%,.8);
}
.closed.SignatureModal,.closed.signsDiv {
    visibility: hidden;
}
.open.SignatureModal, .open.signsDiv{
     visibility: visible;
 }.SignatureModal .modal-dialog {
      background: #fff;
      background: var(--primary-color);
      /*box-shadow: 1px 1px 5px #000;*/
      border-radius: 5px;
      width: calc(100% - 20px);
      max-width: 600px;
      height: calc(100% - 80px);
      max-height: 396px;
  }.SignatureModal .modal-dialog .header {
       display: flex;
       justify-content: flex-end;
   }
.SignatureModal .modal-dialog canvas {
    margin: 0;
    padding: 0;
    cursor: crosshair;
}
.docPage canvas:first-child{z-index:2}
.docPage canvas:last-child{z-index:1}