body{
    background-color: #f7f9fb;
}
.header{
    border-bottom: 1px solid #d0d0d0;
    padding: 0 0 8px 0;
    color: #4f6df5;
}
.nav-link{
    color: #272727;
    border-left: 1px solid #d0d0d0;
    padding: 15px !important;
}
.home-link:hover, .nav-link:hover{
    color: #d0d0d0;
}
.home-link{
    width: 35%;
    text-align: right;
    color: #272727;
    text-decoration: none !important;
}
.navbar-toggler {
    background-color: #d0d0d0;
}

.compliant-detail h2{
    color: #242422;
    font-size: 36px;

}
.btn-blue{
    background-color: #4f6df5;
    color: #ffffff;
}
.btn-blue:hover{
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}
.btn-red:hover{
    background-color: #bc2e2f;
    color: #fff;
}

.access-button {
    padding-left: 20px;
    padding-right: 20px;
    color: #242422;
    border: 1px solid #cbcbcb;
}
.access-button:hover {
    background-color: #4f6df5;
    color: #fff;
    border-color: #4f6df5;
}
.access-button-red:hover {
    background-color: #bc2e2f;
    border-color: #bc2e2f;
    color: #fff;
}
.glance-main .access-button{
    min-width: 150px;
}
.glance-main h5{
    font-weight: normal;
}
.walk-container{
    width: 200px;
    height: 240px;
    border: 1px solid grey;
    border-radius: 5px;
}
.walk-container .my-5{
    max-height: 45px;
}
.walk-bg-main{
    background-color: #f2f4fd;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 50px;
}
.contact-main .btn-blue{
    padding: 12px 25px;
}
.walk-active{
    background-color: #4f6df5;
}
.head-icon{
    color: #4f6df5;
}
.quick-main {
    border: 1px solid #efefef;
    padding: 20px 30px;
    border-radius: 8px;
}
.glance-sub{
    border: 1px solid #efefef;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.sample-img{
    background-image: url("../assets/image/upload.jpg");
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
}